
<div class="container-fluid">
  <h1 class="mx-auto col-12 text-center mb-4">SmartComponent Library REST Demo</h1>
  <div class="row">
    <div class="col-12 col-lg-4">
      <form class="search-wrapper w-100 mb-2">
          <button
            style="float: right; height: 100%; padding: 6px; border-left: none;"
            type="submit"
            kendoButton
            (click)="onFilterButtonClicked()"
            [icon]="'search'">
          </button>
          <div style="overflow: hidden">
              <input name="name" placeholder="Search by name..." class="k-textbox w-100" style="width: 100%" [(ngModel)]="searchPhrase" />
          </div>
        </form>
      <kendo-grid
        [data]="customers | async"
        height="500"
        [selectable]="{ mode: 'single' }"
        (selectionChange)="selectedCustomer = $event.selectedRows[0].dataItem"
        style="width: 100%">
          <kendo-grid-column field="id" title="ID" width="40"></kendo-grid-column>
          <kendo-grid-column field="Name" title="Name" width="200"></kendo-grid-column>
          <kendo-grid-column field="Country" title="Country" width="60"></kendo-grid-column>
          <kendo-grid-column field="City" title="City" width="150"></kendo-grid-column>
      </kendo-grid>
    </div>

    <div class="col-12 col-lg-3">
      <form class="k-form" #Customer="ngForm">
          <fieldset>
            <legend>Customer Details</legend>

            <label class="k-form-field">
              <span>Cust Num</span>
              <input class="k-textbox" disabled name="id" [ngModel]="selectedCustomer.id">
            </label>
            <label class="k-form-field">
              <span>Name</span>
              <input class="k-textbox" name="name" [(ngModel)]="selectedCustomer.Name">
            </label>
            <label class="k-form-field">
              <span>City</span>
              <input class="k-textbox" name="city" [(ngModel)]="selectedCustomer.City">
            </label>
            <label class="k-form-field">
              <span>Country</span>
              <input class="k-textbox" name="country" [(ngModel)]="selectedCustomer.Country">
            </label>

            <button type="submit" class="k-button k-primary" [disabled]="Customer.pristine" (click)="updateCustomer()">Submit</button>
          </fieldset>
      </form>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
